.principal-effectif {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.panels-formation {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
